/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
		/* XS */
		.responsive-info{
			display:block;
			background-color:turquoise;
		}
		.responsive-info::after{
			content: "XS" ;
			color:#fff;
		}
		
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
        /* SM */ 
		.responsive-info{
			display:block;
			background-color:blueviolet;
		}
		.responsive-info::after{
			content: "SM" ;
			color:#fff;
		}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 

	/* MD */
	.responsive-info{
		display:block;
		background-color:chocolate;
	}
	.responsive-info::after{
		content: "-MD-" ;
		color:#fff;
	}
	
	
	
	
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
	/* LG */
	.responsive-info{
		display:block;
		background-color:blue;
	}
	.responsive-info::after{
		content: "----LG---" ;
		color:#fff;
	}


	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	/* XLG */
	.responsive-info{
		display:block;
		background-color:red;
	}
	.responsive-info::after{
		content: "----XL---" ;
		color:#fff;
	}


}
