/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
		/* XS */
		.responsive-info{
			display:block;
			background-color:turquoise;
		}
		.responsive-info::after{
			content: "XS" ;
			color:#fff;
		}
		
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
        /* SM */ 
		.responsive-info{
			display:block;
			background-color:blueviolet;
		}
		.responsive-info::after{
			content: "SM" ;
			color:#fff;
		}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 

	/* MD */
	.responsive-info{
		display:block;
		background-color:chocolate;
	}
	.responsive-info::after{
		content: "-MD-" ;
		color:#fff;
	}
	
	
	
	
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
	/* LG */
	.responsive-info{
		display:block;
		background-color:blue;
	}
	.responsive-info::after{
		content: "---LG--" ;
		color:#fff;
	}

	.container-wrapper{
		margin:0 10%;
	}


	/* HEADER AREA */
	.header-area{
		background-image: url(../img/header-bg.png);
		background-position: center;
		background-size: cover;	
		padding:1.20rem 0px;
	}
	
	
	.menu-list ul li{
		display: inline-block;
		margin-left: 1.1rem;
	}

	.menu-list ul li a{
		font-size: 0.83333333333333em;
	}

	.header-center-title{
		padding: 1.345rem 0;
		margin-left:6%;
		width:50%;
		margin-bottom:7rem;
		margin-top:5rem;
	}

	.header-center-title span{
		font-size:1.1223333333333333em;
		font-weight: 400;
		color:#fff;
		letter-spacing: 0.2em;
	}
	
	.header-center-title h1{
		font-size:2.3em;
		font-weight: 600;
		color:#fff;
		margin:0.605rem 0;
		line-height: 48px;
	}
	
	.header-center-title p{
		font-size:0.8em;
		font-weight:400;
		color:#fff;
		margin:1.3rem 0;
		font-style: italic;
	}
	

	.header-center-btn a{
	  display: block;
	  padding: 0.5rem 1.8rem;
	  text-align: center;
	  color: #fff;
	  font-size: 0.9em;
	  margin-right:1.15rem;
	  margin-top:1.7rem;
	}
	
	
	.slider-image{
		position: absolute;
		right: 0;
		top: 4.7%;
	}
	
	.slider-image img{
		scale: 0.5;
	}
	
	/* ABOUT US */

	.about-us-text{
		flex-basis: 50%;
		padding-right:5rem;
	}

	.about-us-text span{
		font-size: 0.9em;
		padding-bottom: 1.3rem;
	}

	.about-us-text h2{
		font-size: 2em;
		padding:0.6rem 0.1rem;
	}

	.about-us-text p{
		font-size: 0.8em;
		padding:1rem 0;
		line-height: 1.4em;
		font-size: 0.8em;
	}

	.about-us-image img{
		max-width: 100%;
		height: auto;
	}

	.about-us-btn{
		display: inline-block;
		margin:1.6rem 0px;
		padding:0.8rem 2.4rem;
		background-color: var(--ping-bg);
		color:#fff;
		font-size: 0.8em;
		text-align: center;
		border-radius: 14px;
		-webkit-border-radius: 14px;
		-moz-border-radius: 14px;
		-ms-border-radius: 14px;
		-o-border-radius: 14px;
		transition: .3s;
	}

	.about-us-btn:hover{
		box-shadow: 8px 8px #99bdff;
		transition: .3s;
	}


	
		/* OUR ARCHİVES */
		.our-archiments{
			padding: 3rem 0;
		}
		

		.our-ach-icons{
		margin:0.8rem 0;
		}

		.our-ach-icons i{
		font-size: 2.3em;
		}

		.our-arch-box span{
		display: inline-block;
		margin:0.2rem 0;
		font-size: 1.8em;
		}

		.our-arch-box h5{
		font-size: 0.9em;
		}

		.our-arch-box p{
			font-size: 0.8em;
			margin:1.2rem 0;
			padding:0px 1.9rem
		}



		/* READ ME ABOUT US AREA */

		.readme-about-area{
			padding:3.1rem 0px;
		}

		.readme-about-area span{
			margin:0.4rem 0;
			font-size: 1.5em;
		}

		.readme-about-area h2{
			font-size: 1.7em;
			margin-top:0.6rem;
		}

		.readme-about-area p{
			text-align: center;
			font-size: 0.7em;
			margin:1.5rem 0;
			padding:0px 1.3rem;
			line-height: 17px;
			padding: 0px;
		}

		a.read-me-about-btn{
			padding:0.9rem 2.5rem;
			background-color: var(--ping-bg);
			margin:1.1rem 0px;
			text-align: center;
			font-size: 0.7em;
		}

		a.read-me-about-btn:hover{
			box-shadow: 8px 8px #99bdff;
			transition: .3s;
		}

	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	/* XLG */
	.responsive-info{
		display:block;
		background-color:red;
	}
	.responsive-info::after{
		content: "----XL---" ;
		color:#fff;
	}

}
